.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

body {
  background-color: #47dddd;
}
h1 {
  color: blue;
}
input {
  width: 50%;
  height: 15vh;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1.2rem;
}

.title {
  border-radius: 0.5rem;
  font-size: 40px;
}

.face-emojis {
  font-size: 3rem;
  padding: 0.5rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}
h2 {
  color: blue;
}
