.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: #0099ff;
}

#state-btn {
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #0099ff;
  font-size: 1rem;
  margin: 0.2rem;
}

.state-list {
  text-align: left;
  width: 85%;
  list-style-type: none;
  list-style: none;
  border-radius: 1.2rem;
  padding: 1rem;
  margin: 1.5rem;
  background-color: #0099ff;
}
#travel-state-place {
  font-size: larger;
  margin-bottom: 0.5rem;
}

#description {
  font-size: smaller;
}
#rating {
  font-size: smaller;
}
